@model Sale
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-12">
        <form asp-action="Edit" asp-controller="Sales" method="post">
            <h3>Edit sales</h3>
            <input type="hidden" asp-for="SaleId" />
            <div class="form-group row mb-1">
                <label class="col-form-label col-2" asp-for="Date"></label>
                <div class="col-6">
                    <input type="date" asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col-form-label col-2" asp-for="Dress"></label>
                <div class="col-6">
                    <select class="form-select" asp-for="DressId" asp-items="@(new SelectList(ViewBag.Dresses, "DressId", "DressName"))">
                        <option value="" selected>--Select one--</option>

                    </select>
                    <span asp-validation-for="DressId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-1">
                <label class="col-form-label col-2" asp-for="Quantity"></label>
                <div class="col-6">
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-1">

                <div class="col-6 offset-2">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts
    {
    <script src="~/libs/jquery/jquery.js"></script>
    <script src="~/libs/jquery-validate/jquery.validate.js"></script>
    <script src="~/libs/jquery-validate/jquery.validate.unobtrusive.js"></script>
}
